.settings_container {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.main_headline {
  align-self: center;
}

.section_container {
  display: flex;
  gap: 1rem;
  padding-left: 1rem;
  align-items: center;
}

.section_headline {
  padding: 1rem;
}

.fields_container {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.edit_button {
  align-self: center;
}


