.anime_page {
  display: flex;
  flex-direction: column;
  align-items: space-around;
  gap: 1rem;
  margin-bottom: 1%;
}

.header {
  align-self: center;
  font-size: 3rem;
}

.page_body {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.details {
  display: flex;
  flex-direction: column;
  width: 25%;
}

.details_list {
  display: flex;
  flex-direction: column;
  width: auto;
}

.details_description {
  align-self: center;
  width: 80%;
  text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.8);
}

.user_details {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.user_rating {
  display: flex;
  gap: 5px;
}

.rating_slider {
  width: 70%;
}

.rating_input {
  width: 20%;
}

.completedContainer {
  display: flex;
  align-items: center;
}

.details_fav_icon {
  margin-top: -1rem;
  align-self: flex-end;
  display: flex;
  align-items: center;
  gap: 10px;
}

.image {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
