:root {
  --red: #ff0000;
}

.my_list {
  display: flex;
  flex-direction: column;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 0.3fr));
  margin: 0.3%; /* top sides */
}

.emptyContainer {
  align-self: center;
  color: red;
}

.errorContainer {
  align-self: center;
  fill: var(--red);
  font-size: 1.2rem;
  background-image: url("../../../Resources/myListblob.svg");
  background-repeat: no-repeat;
  background-size: 300px 300px;
  height: 300px;
  width: 300px;
}

.headline {
  align-self: center;
}

.errorBlob {
  width: 300px;
  height: 300px;
}
