@import url("https://fonts.googleapis.com/css2?family=Alegreya:ital@1&display=swap");

.notFound {
  background-image: url("../../Resources/lost-zoro1.jpg");
  background-attachment: fixed;
  background-size: cover;
  height: 100vh; 
  color: white;
  font-family: "Alegreya", serif;
  overflow-y: hidden;
}

.notFoundMessage {
  margin-left: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}
@media (max-width: 768px) {
  .notFoundMessage {
    margin-left: 0%;
    font-size: 1.5rem;
  }
}

@media (max-width: 500px) {
  .notFoundMessage {
    font-size: 1rem;
  }
}

.homeNav {
  color: inherit;
}
