.anime_list {
  display: flex;
  flex-direction: column;
}

.list_container {
  display: flex;
  gap: 7px;
  border-radius: 8px;
}

.more_button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
