.card_container {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.card_image {
  border: 2px;
  border-radius: 10px;
  display: flow-root;
}

.card_title {
  display: -webkit-box;
  width: 9.5rem;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card_rating {
  position: absolute;
  bottom: 3px;
  left: 4px;
  padding: 3px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  font-size: 12px;
}
