.footer_container {
  position: static;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 5;
  padding: 0 0.5rem;
  width: 100%;
  height: 3rem;
}

.follow_us {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.media_logo {
  width: 1.75rem;
  height: 1.75rem;
}

.about {
  text-decoration: none;
}

.about:hover {
  text-decoration: underline;
}
