.navbar_container {
  position: sticky;
  top: 0;
  z-index: 5;
}

.navbar {
  display: flex;
  align-items: center;
  padding-right: 1rem;
  gap: 5%;
  background-color: #282c34;
  color: #fff;
  /* background-image: url("../../../Resources/homepage_wall1.jpg");
  background-attachment: fixed;
  background-size: cover; */
  height: 4rem;
  text-shadow: 0px 4px 10px #ffffff;
}

.navbar_logo_container {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-left: -1%;
  text-decoration: none;
}

.navbar_headline {
  color: white;
  font-family: "Titillium Web", sans-serif;
  font-size: 1.75rem;
  font-weight: bold;
}

.navbar_logo {
  object-fit: cover;
  height: 4rem;
  width: 3rem;
}

.navbar_user div {
  display: flex;
  align-items: center;
  gap: 10px;
}
