.search_bar {
  display: flex;
  align-items: center;
  flex: 1;
  height: 70%;
  gap: 2px;
}

.search_input {
  flex: 1;
  padding-left: 1.7rem;
  height: inherit;
  max-width: 40%;
  border-radius: 7px;
  border: 1px solid;
  background-color: aliceblue;
}

.search_icon {
  position: absolute;
  color: black;
  padding-left: 0.1rem;
}

.search_button {
  height: inherit;
  border-radius: 7px;
  width: 5rem;
}

.custom_loader {
  width: 30px;
  height: 30px;
  color: #000000;
  background: conic-gradient(
        from 165deg at top,
        #0000,
        currentColor 1deg 30deg,
        #0000 31deg
      )
      top,
    conic-gradient(
        from 75deg at left,
        #0000,
        currentColor 1deg 30deg,
        #0000 31deg
      )
      left,
    conic-gradient(
        from -15deg at bottom,
        #0000,
        currentColor 1deg 30deg,
        #0000 31deg
      )
      bottom,
    conic-gradient(
        from -105deg at right,
        #0000,
        currentColor 1deg 30deg,
        #0000 31deg
      )
      right;
  background-size: 100% 50%, 50% 100%;
  -webkit-mask: radial-gradient(circle 2.5px, #0000 90%, #000);
  background-repeat: no-repeat;
  animation: sh1 1.5s infinite linear;
}

@keyframes sh1 {
  100% {
    transform: rotate(1turn);
  }
}
