.container {
  border-radius: 10px;
  border: 1px solid #e6e6e6;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
}

.title {
  margin: 6% 12% 8%; /* top sides bottom */
  font-weight: 600;
  align-self: center;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

.details {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.backCard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.genres {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 10%;
}

.img {
  flex: 1;
  max-height: 350px;
  border-radius: 5px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
