.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding-top: 10px;
    height: auto;
}

.signButton {
    align-self: center;
    width: 10%;
}